/* Geral */
.txt-center
{
	text-align: center;
}

.page-title
{
	padding: 0.5em;
	font-family: 'Helvetica';
	text-align: center;
}

.txt-black
{
    color: black;
    text-decoration: underline;
}

.txt-white
{
    color: white;
    text-decoration: underline;
}

.bg-grad
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4fdff+0,b6ccef+100 */
	background: linear-gradient(to bottom, #006fff 0%,#13396b 50%,#000000 100%);
}

.bg-trans
{
	background: transparent;
}

/* Overrides */
span.toggle
{
	display: inline-block;
	vertical-align: middle;
}

/* Mask */
#mask
{
	background-color:rgba(0, 0, 0, 0.7);
	z-index: 10000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
	width: 0;
	height: 0;
	opacity: 0;
	transition: opacity 0.5s;
}
#mask.show
{
	opacity: 1;
	width: 100%;
	height: 100%;
	overflow: visible;
}
#loader
{
	background-image:url(hourglass.gif);
	width: 200px;
	height: 200px;
}